.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

.box.win {
  border: 1px solid green;
}
.box.lose {
  border: 1px solid red;
}

.item-img {
  width: 300px;
  object-fit: contain;
}

.main {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.main + .main {
  margin-top: 30px;
}
.main button {
  display: block;
  min-width: 66px;
  padding: 10px 20px;
  background: #fff;
  outline: none;
  border-radius: 10px;
  border: 1px solid #333;
  font-weight: 700;
}
.main button:hover {
  background: #333;
  color: #fff;
}